<?xml version="1.0" encoding="utf-8"?>

<!--
  ASP.NET アプリケーションの構成方法の詳細については、
  http://go.microsoft.com/fwlink/?LinkId=169433 を参照してください
  -->

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChkShtDRptAsr5500.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ConnectionString" connectionString="Data Source=AWS-IG-PC\SQLEXPRESS;Initial Catalog=dev;Persist Security Info=True;User ID=sa;Password=awsadmin"
            providerName="System.Data.SqlClient" />
        <add name="pdiConnectionString" connectionString="Data Source=PDIDBSERVER;Initial Catalog=pdi;Persist Security Info=True;User ID=sa;Password=pdidb"
            providerName="System.Data.SqlClient" />
        <add name="devConnectionString1" connectionString="Data Source=HIRO-PC\SQLEXPRESS;Initial Catalog=dev;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    </system.web>

    <applicationSettings>
        <ChkShtDRptAsr5500.My.MySettings>
            <setting name="MailSettings" serializeAs="String">
                <value>C:\Users\higarashi\Documents\Visual Studio 2015\Projects\ChkShtDRptAsr5500_2\ChkShtDRptAsr5500_2\MailSetting.xml</value>
            </setting>
            <setting name="CellsSettings" serializeAs="String">
                <value>C:\Users\higarashi\Documents\Visual Studio 2015\Projects\ChkShtDRptAsr5500_2\ChkShtDRptAsr5500_2\CellsSetting.xml</value>
            </setting>
        </ChkShtDRptAsr5500.My.MySettings>
    </applicationSettings>
</configuration>
